$primary-blue: black;
$primary-yellow: #FFB908;
$dark-blue: #0E6FA8;
$light-blue: #5DB4E8;
$dark-yellow: #E6A500;
$light-yellow: #FFD24D;
$black: #000000;
$white: #FFFFFF;
$gray-dark: #333333;
$gray-light: #F5F5F5;